body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}


/*TEXT STYLES
====================================*/
p {
  font-size: 1em;
}

article {
  border-bottom: 2px solid black;
  margin: 0 2.5%;
}
/*font here because it's text styling? */
.tag-line {
  font-family: 'Lobster', cursive;
}

/*LINK STYLES
====================================*/
a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:visited {
  color: #AAA;
}
