.heading-group-h1 {
  max-width: 80%;

}

.template {
  float: left;
  clear: left;
  display: none;
}

/* I don't know what is going on here
but when I float upper sections to the left, this
floated to the top right */
footer {
  float: left;
  clear: both;
}

main {
  float: left;
  clear: both;
  width: 100%;
}

#filters li {
  list-style: none;
  width: 20em;
  display: inline;
}

#about {
  width: 90%;
}
