
.site-header {
  background: #FFEAAA;
}

.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.main-nav {
  padding: 0.1em;
}

.icon-menu {
    font-size: 3em;
    text-align: right;
}

.main-nav:hover ul {
  display: inline-flex;
}

.main-nav ul {
  /* NOTE: DONE We are by defualt hiding the main nav list because we are
      expecting the UI to be mobile, therefore our new icon menu
      takes its place. */
  display: none;
  padding: 1em;
  list-style: none;
  clear: both;
}
@media only screen and (min-width: 640px) {
  .heading-group-h1 {
    padding: .1em .1em .1em .2em;
    float: none;
  }
  .icon-menu {
    display: none;
  }

  .main-nav ul {
    display: inline-flex;
  }

  .main-nav li {
    margin-right: 1.5em;
    padding: .5em 2em;
  }
}
